document {
    color: white;
    background-color: lightseagreen;
    font-size: 35px;
    font-weight: bold;
}

section {
    color: red;
    background-color: lightseagreen;
    font-size: 35px;
    font-weight: bold;
}